<html>
    <head>
        <title>Kadmin @ BetterCloud</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <style>
            pre {
                padding: 5px;
                margin: 5px;
            }
            .string { color: green; }
            .number { color: darkorange; }
            .boolean { color: blue; }
            .null { color: magenta; }
            .key { color: red; }

            .copy-btn {
                float: right;
            }
            .raw-message {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/bproducer.html" target="_blank">BetterCloud Producer</a></li>
                    <li role="presentation"><a href="/cproducer.html" target="_blank">Custom Producer</a></li>
                    <li role="presentation" class="active"><a href="/consumer.html" target="_blank">Consumer</a></li>
                </ul>
            </div>
            <div class="panel panel-default" id="form-container">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="kafkahost">Kafka Host</label>
                            <input type="text" class="form-control" id="kafkahost" placeholder="localhost:9092">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="schemaurl">Kafka Schema Registry Url</label>
                            <input type="text" class="form-control" id="schemaurl" placeholder="http://localhost:8081">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <input type="text" class="form-control" id="topic">
                    </div>
                    <div class="row text-right">
                        <button class="btn btn-primary" id="start-consumer-btn">
                            Start Consumer
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="refresh-form col-sm-6">
                    <div class="form-group">
                        <select class="form-control" id="refresh-rate">
                            <option value="-1">Manual</option>
                            <option value="1000">1 Second</option>
                            <option value="5000">5 Seconds</option>
                            <option value="10000" selected>10 Seconds</option>
                            <option value="30000">30 Seconds</option>
                            <option value="60000">1 Minute</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button id="refresh-btn" class="btn btn-success disabled">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh
                    </button>
                    <button id="clear-btn" class="btn btn-warning disabled">
                        <span class="glyphicon glyphicon-trash"></span> Truncate
                    </button>
                    <button id="dispose-btn" class="btn btn-danger disabled">
                        <span class="glyphicon glyphicon-trash"></span> Close
                    </button>
                </div>
            </div>
            <div class="message-container">
                <div class="header-row">
                    <h2 id="message-list-title">Messages</h2>
                    <div id="since-row"></div>
                </div>
                <div id="message-list"></div>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/moment.min.js"></script>
        <script type="text/javascript" src="js/clipboard.min.js"></script>
        <script type="text/template" id="message-tile-template">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-default copy-btn btn-sm" data-clipboard-text='<%= rawMessage %>'>
                        <span class="glyphicon glyphicon-copy"></span> Copy
                    </button>
                    <div class="key-row">
                        Key: "<%= key %>"
                    </div>
                    <div class="time-row">
                        @<%= writeTimeText %>
                    </div>
                    <pre><%= messageText %></pre>
                </div>
            </div>
        </script>
        <script>
            var count = 0,
                $refreshRate = $('#refresh-rate'),
                consumerConfig = {
                    started: false,
                    kafkaUrl: null,
                    schemaUrl: null,
                    topic: null,
                    since: null,
                    refreshHandle: null,
                    refreshRate: $refreshRate.val()
                },
                messageTemplate = _.template($('#message-tile-template').html()),
                $messageList = $('#message-list'),
                clipboard = null;

            function initConfig() {
                let topic = $('#topic').val();
                if (!topic || topic === "") {
                    alert("Topic is required. Aborting creating consumer.");
                    return false;
                }
                consumerConfig = {
                    started: true,
                    kafkaUrl: $('#kafkahost').val(),
                    schemaUrl: $('#schemaurl').val(),
                    topic: $('#topic').val(),
                    since: -1,
                    autoRefresh: null,
                    refreshRate: $refreshRate.val()
                };
                if (consumerConfig.kafkaUrl === "") {
                    consumerConfig.kafkaUrl = null;
                }
                if (consumerConfig.schemaUrl === "") {
                    consumerConfig.schemaUrl = null;
                }
                disableForm();
                initMessageList();
                return true;
            }

            function disableForm() {
                $("#kafkahost").prop("disabled", true);
                $("#schemaurl").prop("disabled", true);
                $("#topic").prop("disabled", true);
                $("#start-consumer-btn").addClass("disabled");
            }

            function initMessageList() {
                $('#message-list-title').html("Messages - " + consumerConfig.topic);
                var $refresh = $("#refresh-btn");
                $refresh.removeClass("disabled");
                $refresh.click(refresh);
                var $clear = $("#clear-btn");
                $clear.removeClass("disabled");
                $clear.click(truncateList);
                var $dispose = $("#dispose-btn");
                $dispose.removeClass("disabled");
                $dispose.click(disposeConsumer);
            }

            function truncateList() {
                if (!consumerConfig.started) {
                    if (!initConfig()) {
                        return;
                    }
                }
                let url = buildUrl();
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: refresh
                });
            }

            function disposeConsumer() {
                if (!consumerConfig.started) {
                    if (!initConfig()) {
                        return;
                    }
                }
                let url = buildUrl();
                $.ajax({
                    type: "DELETE",
                    url: url + "/kill",
                    success: refresh
                });
            }

            function refresh() {
                if (!consumerConfig.started) {
                    if (!initConfig()) {
                        return;
                    }
                }
                let url = buildUrl();
                consumerConfig.since = new Date().getTime();
                $.get(url, handleResults);
                $("#since-row").html("Updated: " + moment(consumerConfig.since).format('LTS'));
                if (consumerConfig.refreshRate > 0) {
                    consumerConfig.refreshHandle = setTimeout(refresh, consumerConfig.refreshRate);
                }
            }

            function buildUrl() {
                let url = "/kafka/read/" + consumerConfig.topic + "?";
                if (!!consumerConfig.kafkaUrl) {
                    url += "kafkaUrl=" + consumerConfig.kafkaUrl + "&";
                }
                if (!!consumerConfig.schemaUrl) {
                    url += "schemaUrl=" + consumerConfig.schemaUrl;
                }
                return url;
            }

            function handleResults(data) {
                let count = 0;
                if (!!clipboard) {
                    clipboard.destroy();
                }
                $messageList.html('');
                document.title = "(" + data.totalElements + ") " + consumerConfig.topic;
                _.each(data.content, function(ele) {
                    let html = "";
                    ele.writeTimeText = moment(ele.writeTime).format('LTS');
                    ele.messageText = "null";
                    if (!!ele.message) {
                        ele.rawMessage = JSON.stringify(ele.message, null, 2);
                        ele.messageText = syntaxHighlight(ele.rawMessage);
                    }
                    ele.timestamp = "_" + count++;
                    html = messageTemplate(ele);
                    $messageList.prepend(html);
                });
                clipboard = new Clipboard('.copy-btn');
            }

            function syntaxHighlight(json) {
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }


            $(document).ready(function() {
                $('#refresh-rate').change(function(e) {
                    consumerConfig.refreshRate = $refreshRate.val();
                    if (!!consumerConfig.refreshHandle) {
                        clearTimeout(consumerConfig.refreshHandle);
                    }
                    if (consumerConfig.refreshRate > 0 && consumerConfig.started) {
                        refresh();
                    }
                    console.log("Refresh Rate: " + consumerConfig.refreshRate);
                });
                $('#start-consumer-btn').click(function(e) {
                    e.preventDefault();
                    refresh();
                });
            });
        </script>
    </body>
</html>