<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kadmin @ BetterCloud</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <style>
            pre {
                padding: 5px;
                margin: 5px;
            }
            .string { color: #1A1AA6; }
            .number { color: rgb(0, 0, 205); }
            .boolean { color: rgb(88, 92, 246); }
            .null { color: black; }
            .key { color: rgb(49, 132, 149); }

            .copy-btn, .collapse-btn {
                float: right;
            }
            .raw-message {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation"><a th:href="@{/}">Home</a></li>
                    <li role="presentation"><a th:href="@{/producer}">Custom Producer</a></li>
                    <li role="presentation" class="active"><a th:href="@{/consumer}">Consumer</a></li>
                    <li role="presentation"><a th:href="@{/manager}">Manager</a></li>
                </ul>
            </div>
            <div id="main-content"></div>
        </div>


        <script th:inline="javascript">
            /*<![CDATA[*/
            var App = {
                defaultTopic: [[${defaultTopicName}]],
                contextPath: [[${contextPath}]],
                messageTemplateLoaded: false,
                mainTemplateLoaded: false,
                pageLoaded: false,
                consumer: {}
            };

            /*]]>*/
        </script>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/underscore-min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/clipboard.min.js}"></script>
        <script type="text/javascript" th:src="@{/consumer/main.js}"></script>
        <script type="application/javascript">
            var App = _.extend(App, {
            });

            $.get(App.contextPath + "/consumer/main.html", function (html) {
                $('#main-content').html(html);
                App.mainTemplateLoaded = true;
                initMain();
            });

            $.get(App.contextPath + "/consumer/message-tile-template.html", function (html) {
                App.consumer.messageTemplate = _.template(html);
                App.messageTemplateLoaded = true;
                initMain();
            });

            $(document).ready(function() {
                App.pageLoaded = true;
                initMain();
            });
        </script>
    </body>
</html>