<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kadmin @ BetterCloud</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a th:href="@{/}">Home</a></li>
                    <li role="presentation"><a th:href="@{/producer}">Custom Producer</a></li>
                    <li role="presentation"><a th:href="@{/consumer}">Consumer</a></li>
                    <li role="presentation"><a th:href="@{/manager}">Manager</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>